@import "../../node_modules/bootstrap/dist/css/bootstrap.css";
@import "../../node_modules/bootstrap-icons/font/bootstrap-icons.css";

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@454&display=swap');

@import url('fonts/Metropolis.css');


:root {
  --bs-primary: #283351;
  --bs-secondary: #f0dcbe;
  --bs-highlight: #5a8d96;
  --bs-primary-rgb:  40,51,81;
  --bs-secondary-rgb:  240,220,190;
  --bs-highlight-rgb:  90,141,150;
  --banner-teste:  url('../images/banner-ex.jpg');
}
img{ 
width: -webkit-fill-available;
 }

a { text-decoration: none; }
body {
    font-family: 'Metropolis';
    text-transform: uppercase;
}

ul, li, ol{ list-style: none; }

.li:hover { 

 color: var(--bs-secondary)!important;
 }
.btn-primary{ 
    color: #fff;
    background-color: var(--bs-primary);
    border-color: var(--bs-primary);
 }

 .btn-highlight{ 
    color: #fff;
    background-color: var(--bs-highlight);
    border-color: var(--bs-highlight);
 }

 .text-highlight { color: var(--bs-highlight); }

 


.menu{  }

.li { 
    cursor: pointer; }